sphinx
sphinx-copybutton
sphinx-rtd-theme
myst-parser
myst-nb
sphinxcontrib-bibtex
sphinx-autodoc-typehints
sphinx-tabs
matplotlib
sphinx_design
docutils
sphinx-book-theme
amply
appdirs
argcomplete
asttokens
attrs
hatchling
backports.tarfile==1.2.0
biopython
Brotli
build==1.2.2.post1
certifi
cffi
charset-normalizer
colorama
comm
ConfigArgParse
connection-pool
contourpy
cryptography==44.0.0
cycler
Cython==3.0.8
datrie
debugpy
decorator
dill
docutils
dpath
exceptiongroup
executing
fastjsonschema
fonttools
gitdb
GitPython
h2
hpack
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isal==1.1.0
itables
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi
jeepney==0.8.0
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keyring==25.6.0
kiwisolver
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.1
matplotlib-inline
mdurl==0.1.2
more-itertools==10.6.0
multiprocess
munkres==1.1.4
natsort
nbformat
nest_asyncio
networkx
nh3==0.2.20
numpy
packaging
pandas
parasail
parso
patsy
pexpect
pickleshare
pillow
pkginfo==1.12.0
pkgutil_resolve_name
plac
platformdirs
plotly
ply
prompt_toolkit
protobuf==3.14.0
psutil
ptyprocess
PuLP==2.7.0
pure_eval
pycparser
pyfaidx==0.7.2.1
Pygments
pyparsing
pypickle
pyproject_hooks==1.2.0
PyQt5==5.15.9
PyQt5-sip==12.12.2
pysam==0.22.1
PySocks
python-dateutil
pytz
PyYAML
pyzmq
readme_renderer==44.0
referencing
requests
requests-toolbelt==1.0.0
reretry
rfc3986==2.0.0
rich==13.9.4
rpds-py
scipy
seaborn
SecretStorage==3.3.3
session-info==1.0.0
sip
six
smart_open
smmap
snakemake
stack_data
statsmodels
stdlib-list==0.11.0
stopit==1.1.2
tabulate
tenacity
throttler
toml
tomli
tomlkit
toposort
tornado
tqdm
traitlets
twine==6.0.1
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
whatshap==1.7
wrapt
xmltodict
xopen==1.7.0
yq
yte
zipp
zstandard==0.23.0
scikit-learn
